# Shared JWT locally
JWT_SECRET=pass
JWT_ALGORITHM=HS256
JWT_EXPIRY_HOURS=24

# local secret
INTERNAL_SECRET=example

# PostgreSQL params
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# URLS, used locally 
AUTH_SERVICE_URL=http://localhost:8001
HR_SERVICE_URL=http://localhost:8002
MANAGER_SERVICE_URL=http://localhost:8003
FINANCE_SERVICE_URL=http://localhost:8004
IT_SERVICE_URL=http://localhost:8005
NOTIFIER_SERVICE_URL=http://localhost:8006
NOTIFIER_SERVICE_WS_URL=ws://localhost:8006

# GCP
GCP_PROJECT_ID=your-gcp-project-id
GCP_REGION=us-central1
CLOUD_SQL_INSTANCE=your-project:us-central1:your-instance-name
